{% extends 'document/base.html' %}

{% block title %}
    Обратная связь - {{ block.super }}
{% endblock %}

{% block content %}
    <div class="main-page-text">
        <h1 class="text-center mb-5 mt-5">Обратная связь</h1>
    </div>

    <form class="feedback" action="{% url 'get_feedback_page' %}" method="post">
        {% csrf_token %}

        {% if flag %}
            {% if errors %}
                <div class="alert alert-danger" role="alert">
                    {% for elem in errors.values %}
                        {{ elem }}
                    {% endfor %}
                </div>
            {% else %}
                <div class="alert alert-success" role="alert">
                    Ваш отзыв был добавлен! Следующая попытка возможна через 15 минут.
                </div>
            {% endif %}
        {% endif %}

        <div class="form-group">
            <label for="inputName">Ваше имя:</label>
            <input name="name" type="text" class="form-control" id="inputName" placeholder="Введите ваше имя">
        </div>
        <div class="form-group">
            <label for="inputEmail">Ваш адрес электронной почты:</label>
            <input name="email" type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Введите адрес электронной почты">
        </div>
        <div class="form-group">
            <label for="inputTheme">Тема письма:</label>
            <input name="theme" type="text" class="form-control" id="inputTheme" placeholder="Введите тему письма">
        </div>
        <div class="form-group">
            <label for="inputTextArea">Опишите вашу проблему:</label>
            <textarea name="text" class="form-control" id="inputTextArea" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-secondary">Отправить</button>
    </form>
{% endblock %}
