textarea:focus, input:focus, input[type]:focus {
    border-color: rgba(197, 206, 220, 1)!important;
    box-shadow: 0 1px 1px rgba(100, 100, 100, 0.075) inset, 0 0 8px rgba(100, 100, 100, 0.6)!important;
    outline: 0 none!important;
}

.date_bold{
    font-weight: bold;
}

th{
    height: 100px!important;
    text-align: center!important;
    vertical-align: middle!important;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #f8f8f8;
}

table{
    background-color: #f8f8f8;
}

.card-body p{
    padding-left: 12px;
    margin: 0;
}

.header{
    /* font-size: 20px; */
    font-size: 2.2vh;
}

.header-fixed{
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1000;
    animation-name: show_header;
    animation-duration: 0.5s;
}

@keyframes show_header {
    0%{
        opacity: 0.5;
        top: -70px;
    }
    100%{
        opacity: 1;
        top: 0;
    }
}

.gray{
    background-color: #fff;
}

.doc-header{
    margin: 0;
}

.doc-name h1{
    text-align: center;
    font-size: 26px;
}

.doc-info{
    font-size: 18px;
    margin-top: 20px;
}

.doc-info p{
    border-bottom: 2px dotted;
    font-weight: 400;
}

.doc-info a:link{
    color: #212529;
    text-decoration: none;
}

.doc-info a:visited{
    color: #212529;
    text-decoration: none;
}

.doc-info a:hover{
    color: #717C8B;
    text-decoration: none;
}

.doc-info a:link:active{
    color: #454E56;
}

.doc-info a:visited:active {
    color: #454E56;
}

.doc-name{
    margin-bottom: 20px;
}

.doc-link{
    font-size: 18px;
}

.doc-link a:link{
    color: #212529;
    text-decoration: none;
}

.doc-link a:visited{
    color: #212529;
    text-decoration: none;
}

.doc-link a:hover{
    color: #717C8B;
    text-decoration: none;
    border-bottom: 2px dotted;
}

.doc-link a:link:active{
    color: #454E56;
}

.doc-link a:visited:active {
    color: #454E56;
}

/* .table td {
   text-align: center;
} */

.border{
    border-bottom: 2px solid #C5CEDC!important;
    padding: 0px;
}

.card button{
    color: black;
    font-size: 20px;
}

.card button:hover{
    color: black;
}

.card{
    margin-bottom: 5px;
}

thead{
    height: 100%;
}

.logo{
    text-decoration: none;
    color: #343A40;
    font-weight: 700;
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
}

.pag__item a{
    color: #343A40;
    font-weight: 700;
    font-size: 20px;
}

.main-page-text p{
    font-size: 18px;
    text-align: justify;
}

.feedback{
    color: #000;
    font-size: 18px;
}

.order__list li{
    margin: 10px;
}

.order__link{
    color: #000;
    font-size: 18px;
}

.order__link:hover{
    color: #474747;
}

.pagination ul {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.pagination li {
  display: inline;
}

.pagination li a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination li.active a {
  background-color: #6c757d;
  color: white;
}

.pagination li:hover:not(.active) a {
  background-color: #ddd;
}
